<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Practice Form</title>
</head>
<body>
    <button id="openModal">Open Modal</button>
    <dialog id="modal">
        <div class="container">
            <img src="{% static 'img/wurtec_logo.png' %}" alt="Wur-Com Logo">

            <header class="form-section">
                <h2>Connected Service Wur-Com Activation</h2>
                <p>This service provides access to the Wur-Com web application, which allows for audio, video and text communication between a Wur-Com car station and authorized personnel. The Service also provides for the continued maintenance and viability of the Wur-Com product line and supports the ongoing development and product roadmap for Wur-Com.</p>
            </header>

            <form action="#" method="POST">
                {% csrf_token %}
                <div class="form-section">
                    <h2>Customer Information</h2>
                    
                    <div class="customer">
                        <div class="field-layout">
                            <div>
                                <label class="info-field" for="firstname">First Name *</label>
                                <input type="text" id="firstname" name="firstname" required>
                            </div>
                            <div>
                                <label class="info-field" for="lastname">Last Name *</label>
                                <input type="text" id="lastname" name="lastname" required>
                            </div>
                        </div>
                        <div class="field-layout">
                            <div>
                                <label class="info-field" for="email">Email Address *</label>
                                <input type="email" id="email" name="email" required>
                            </div>
                            <div>
                                <label class="info-field" for="phone">Phone Number *</label>
                                <input type="tel" id="phone" name="phone" minlength="10" maxlength="15" required>
                            </div>
                        </div>
                        <div>
                            <label class="info-field" for="organization">Organization *</label>
                            <input type="text" id="organization" name="organization" required>
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <h2>Building Information</h2>

                    <div class="building">
                        <div class="field-layout">
                            <div>
                                <label for="building">Building Name *</label>
                                <input type="text" id="building_name" name="building_name" required>
                            </div>
                            <div>
                                <label for="service_address">Service Address *</label>
                                <input type="text" id="service_address" name="service_address" required>
                            </div>
                        </div>
                        <div class="field-layout">
                            <div>
                                <label for="city">City *</label>
                                <input type="text" id="city" name="city" required>
                            </div>
                            <div>
                                <label for="state">State *</label>
                                <select id="state" name="state" required>
                                    <option value="">Select State</option>
                                    <option value="AL">AL</option>
                                    <option value="AK">AK</option>
                                    <option value="AZ">AZ</option>
                                    <option value="AR">AR</option>
                                    <option value="CA">CA</option>
                                    <option value="CO">CO</option>
                                    <option value="CT">CT</option>
                                    <option value="DE">DE</option>
                                    <option value="FL">FL</option>
                                    <option value="GA">GA</option>
                                    <option value="HI">HI</option>
                                    <option value="ID">ID</option>
                                    <option value="IL">IL</option>
                                    <option value="IN">IN</option>
                                    <option value="IA">IA</option>
                                    <option value="KS">KS</option>
                                    <option value="KY">KY</option>
                                    <option value="LA">LA</option>
                                    <option value="ME">ME</option>
                                    <option value="MD">MD</option>
                                    <option value="MA">MA</option>
                                    <option value="MI">MI</option>
                                    <option value="MN">MN</option>
                                    <option value="MS">MS</option>
                                    <option value="MO">MO</option>
                                    <option value="MT">MT</option>
                                    <option value="NE">NE</option>
                                    <option value="NV">NV</option>
                                    <option value="NH">NH</option>
                                    <option value="NJ">NJ</option>
                                    <option value="NM">NM</option>
                                    <option value="NY">NY</option>
                                    <option value="NC">NC</option>
                                    <option value="ND">ND</option>
                                    <option value="OH">OH</option>
                                    <option value="OK">OK</option>
                                    <option value="OR">OR</option>
                                    <option value="PA">PA</option>
                                    <option value="RI">RI</option>
                                    <option value="SC">SC</option>
                                    <option value="SD">SD</option>
                                    <option value="TN">TN</option>
                                    <option value="TX">TX</option>
                                    <option value="UT">UT</option>
                                    <option value="VT">VT</option>
                                    <option value="VA">VA</option>
                                    <option value="WA">WA</option>
                                    <option value="WV">WV</option>
                                    <option value="WI">WI</option>
                                    <option value="WY">WY</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <label for="zip">Zip Code *</label>
                            <input type="text" id="zip" name="zip" minlength="5" maxlength="5" title="Please enter a 5-digit zip code" required>
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <h2>Monitoring Service Information</h2>

                    <div class="monitoring">
                        <div class="field-layout">
                            <div>
                                <label for="monitoring_email">Monitoring Service Email *</label>
                                <input type="email" id="monitoring_email" name="monitoring_email" required>
                            </div>
                            <div>
                                <label for="monitoring_phone">Monitoring Service Phone Number *</label>
                                <input type="tel" id="monitoring_phone" name="monitoring_phone" minlength="10" maxlength="15" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <h2>Wur-Com Units</h2>

                    <fieldset class="wurcom-units field-layout">
                        <div>
                            <label for="wurcom_unit_1">Wur-Com Name 1 *</label>
                            <input type="text" id="wurcom_unit_1" name="wurcom_unit_1" required>

                            <label for="wurcom_location_1">Lobby/Car Station *</label>
                            <select id="wurcom_location_1" name="wurcom_location_1" required>
                                <option value="">Select Location</option>
                                <option value="Car Station">Car Station</option>
                                <option value="Lobby Station">Lobby Station</option>
                            </select>
                        </div>
                        <div>
                            <label for="wurcom_serial_1">Wur-Com Serial 1 *</label>
                            <input type="text" id="wurcom_serial_1" name="wurcom_serial_1" minLength="8" maxLength="12" required>

                            <label for="wurcom_type_1">Wur-Com Type *</label>
                            <select id="wurcom_type_1" name="wurcom_type_1" required>
                                <option value="">Select Type</option>
                                <option value="Wur-Com Plus">Wur-com Plus</option>
                                <option value="Wur-Com Standard">Wur-com Standard</option>
                            </select>
                        </div>
                    </fieldset>

                    <div class="field-layout">
                        <button type="button" id="add-wurcom" onclick="addWurcomUnit()">Add Unit</button>
                    </div>
                </div>

                <div class="terms form-section">
                    <div>
                        <input type="checkbox" name="terms" id="terms" required>
                        <label for="terms">I accept the <a href="https://wurtec.com/license/wur-com-end-user-agreement">Terms and Conditions</a></label>
                    </div>
                    <button type="submit">Activate Unit(s)</button>
                </div>
            </form>
        </div>

        <button id="closeModal">Close Modal</button>
    </dialog>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>